// Animaciones específicas para Tools
@keyframes scroll-left-tools {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right-tools {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}